<div class="container">
  <img src="{{product.product.picture}}" alt="{{product.product.title}}">
  <div class="blockText">
    <h3>{{product.product.title}}</h3>
    <p class="price">{{price | number : '1.2'}}€</p>
    <!--div avec le choix -->
    <div class="textChoix">
      <p *ngFor="let ingredient of product.product.includedIngredients"> {{ingredient.ingredient.title}}</p>
      <p><span>Extra : </span> ingredient1 ,ingredient2,ingredient3</p>
    </div>
  </div>
  <button id="delete-btn">x</button>
</div>