header {
    min-height: 70px;
    background: var(--dark-blue);
    color: var(--white);
    padding: 0 30px;
    position: relative;

}

h1 {
    font-style: italic;
    text-align: center;
    position: absolute;
    left: 33%;
}

.btn {
    background: var(--white);
    font-family: var(--inter);
    border-radius: 50px;
    font-size: 14px;
    padding: 5px 0;
    text-align: center;

}

.buthead {
    gap: 20px;
    justify-self: flex-end;
    position: absolute;
    right: 5%;
}

.butable {
    width: 80px;
}

.butcart {
    width: 50px;
    gap: 5px;
}

.recap-icon {
    width: 30px;
}

.fa-receipt,
.fa-cart-shopping {
    color: var(--dark-blue);
}

