<header class="flex">
  <h1>Pizzeria Della Mamma</h1>

  <div *ngIf="this.tableService.selectedTableNumber !==0" class="flex buthead">
    <a class="butable" routerLink="modify-table">Table {{ this.tableService.selectedTableNumber }}</a>
    <a *ngIf="showCart"class="flex butcart" routerLink="cart"> <img src="assets/icons/cart_shopping.png" alt=""> {{ this.cartService.productQuantity }} </a>
    <div *ngIf="!showCart" id="recap-icon"><i class="fas fa-light fa-money-bill-wave"></i></div>
  </div>
</header>
