<div class="container">
<h2>Les Pizzas della Mamma</h2>
<div class="containerList">
    <app-product-card *ngFor="let product of products |  slice:0:8" 
                              [product]="product">
    </app-product-card>
</div>
    <h2>Les Desserts della Mamma</h2>
    <div class="containerList">
        <app-product-card *ngFor="let product of products |  slice:8:11" 
                                  [product]="product">
        </app-product-card>
    </div>
    <h2>Les Boissons della Mamma</h2>
    <div class="containerList">
        <app-product-card *ngFor="let product of products |  slice:11:14" 
                                  [product]="product">
        </app-product-card>
</div>