<!-- Affichage des boutons de tags -->
<div class="tag" *ngFor= "let tag of tags ">
<!-- button reçoit une fonction -->
<app-tag-button [element]="tag" >
</app-tag-button>
</div>
<ng-container *ngFor= "let category of categories">
<div class="text" *ngIf="category.products.length > 0">
<!-- Affichage des catégories de produits -->
    <h2>{{category.title}}</h2>
<!-- Affichage la liste de produits (bouclé à partir de produit-card) -->
    <app-product-list [products]="category.products"></app-product-list>
</div>
</ng-container>