<section id="cart" class="flex column">
    <h2>Commande table {{ this.tableService.selectedTableNumber }}</h2>
    <div id="cart-products" class="flex column">
        <app-cart-product-card *ngFor="let cartProduct of cart; let index = index" [index]="index"
            [product]="cartProduct" [cart]="cart"></app-cart-product-card>
    </div>
    <p id="total"><span>Total :</span> {{this.cartService.totalPrice/100 | number:'1.2'}}€</p>
</section>
<section id="newOrder" class="flex column">
    <a id="newOrder-btn" routerLink="/">Commencer une nouvelle commande</a>
</section>

